body {
	background: url(faded_purple.jpg);
	font-family: Helvetica;
	color: pink;
	position: relative;
}

h1 {
	text-align: center;
	color: pink;
}

.container {
	width: 650px;
	margin: 0 auto;
}

.one {
	float:left;
	border-bottom: 5px solid pink;
	border-right: 5px solid pink;
	height: 200px;
	width: 200px;
}

.two {
	float: left;
	border-bottom: 5px solid pink;
	border-right: 5px solid pink;
	height: 200px;
	width: 200px;
}

.three {
	float: left;
	border-bottom: 5px solid pink;
	height: 200px;
	width: 200px;;
}

.four {
	border-bottom: 5px solid pink;
	border-right: 5px solid pink;
	height: 200px;
	width: 200px;
	clear: left;
	float: left;

}

.five {
	border-bottom: 5px solid pink;
	border-right: 5px solid pink;
	height: 200px;
	width: 200px;
	float: left;
}

.six {
	border-bottom: 5px solid pink;
	height: 200px;
	width: 200px;
	float: left;
}

.seven {
	border-right: 5px solid pink;
	height: 200px;
	width: 200px;
	clear: left;
	float: left;
}

.eight {
	border-right: 5px solid pink;
	height: 200px;
	width: 200px;
	float: left;
}

.nine {
	height: 200px;
	width: 200px;
	float: left;
}

img {
	height: 200px;
	width: 200px;
}

.xClass {
	
}

.oClass {

}

.winners {
	width: 100px;
	height: 50px;
	border: 2px solid pink;
	clear: left;
	display: inline;
	background-color: pink;
}


